/* AddHall.css */

/* Style for the ToolBar */
.toolbar {
    -fx-background-color: #34495E;
}

/* Style for TextFields */
.text-field {
    -fx-border-color: #34495E;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

/* Style for Buttons */
.button-confirm {
    -fx-background-color: #34495E;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
}

.button-back {
    -fx-background-color: #34495E;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
}
