.sidebar {
    -fx-background-color: #2C3E50;
    -fx-padding: 20;
}

.sidebar-header {
    -fx-text-fill: #ECF0F1;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.sidebar-subheader {
    -fx-text-fill: #ECF0F1;
    -fx-font-size: 22px;
}

.sidebar-button {
    -fx-background-color: #34495E;
    -fx-text-fill: #ECF0F1;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #ECF0F1;
    -fx-border-width: 2;
    -fx-cursor: hand;
}

.sidebar-button:hover {
    -fx-background-color: #3D566E;
}

.sidebar-logout-button {
    -fx-background-color: #E74C3C;
    -fx-text-fill: #ECF0F1;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #ECF0F1;
    -fx-border-width: 2;
    -fx-cursor: hand;
}

.sidebar-logout-button:hover {
    -fx-background-color: #C0392B;
}

.main-pane {
    -fx-padding: 20;
    -fx-background-color: #ECF0F1;
}