.button {
    -fx-background-color: #34495E;
    -fx-text-fill: #ECF0F1;
    -fx-font-size: 16px;
    -fx-font-style: Bold;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #ECF0F1;
    -fx-border-width: 2;
    -fx-cursor: hand;
}