/* Styling for the toolbar */
.toolbar {
    -fx-background-color: #34495E;
}


/* Styling for the labels */

/* Styling for the text fields */
.text-field {
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
}

/* Styling for the buttons */
.button-confirm {
    -fx-background-color: #34495E;
    -fx-text-fill: white;
    -fx-pref-width: 80px;
}

.button-back {
    -fx-background-color: #34495E;
    -fx-text-fill: white;
    -fx-pref-width: 80px;
}
