/* Title label styling */
.title-label {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
    -fx-padding: 10 0 5 0;
}

/* Details label styling */
.details-label {
    -fx-font-size: 16px;
    -fx-text-fill: #34495E;
}

/* Section label styling */
.section-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}

/* Screening table styling */
.table-view {
    -fx-border-color: #34495E;
    -fx-border-width: 1;
    -fx-background-color: #F0F3F4;
    -fx-padding: 5;
}

/* Button styling */
#returnBtn {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

#returnBtn:hover {
    -fx-background-color: #2980B9;
}
